@import "../../styles/variable.scss";

.contact_us_container {


  @include media(mobile) {
    margin-top: 1.5rem;
  }
  .contact_us_box {
  
    width: 100%;
    max-width:100%;
    height: auto;
    background-color: $secondaryColor;
    // margin: auto;
    border-radius: 20px;
    @include media(mobile) {
    
      padding: 0 1rem 3rem 1rem;
    }
    .content_container {
      width: 100%;
      height: 100%;
      position: relative;

      @include media(mobile) {
        padding: 1.5rem;
      
      }
      @include media(desktop) {
        border-right: none;
      }
      .map_container {
        height: 100%;
        filter: grayscale(100);
        min-height: 40vh;
        @include media(mobile) {
          display: none;
        }
      }
      h2 {
        color: $white;
        white-space: normal;
        margin-top: 0;
      }
      .content_items_container {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        @include media(mobile) {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          flex-wrap: nowrap;
        }
        .content_item {
          width: 50%;
          margin: 3rem 0;
          display: flex;
          align-items: flex-start;
          margin-bottom: 10px;
          @include media(mobile) {
            width: 100%;
            min-height: auto;
          }
          .item_des {
            padding-left: 10px;
            h2 {
              color: $white;
              margin-bottom: 0;
            }
            p {
              color: $white;
              margin-top: 0;
              margin-bottom: 0;
              text-align: left;
            }
          }
        }
      }
    }
    h1 {
      color: $white;
      margin: 0;
    }
    .form_container {
      width: 100%;
      height: 100%;
      position: relative;
      // overflow: auto;
      padding: 3rem;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 2rem;
      flex-direction: column;
      @include media(mobile) {
        padding: 0;
        min-height: 60%;
        max-height: 60%;
        overflow: auto ;

      }

      .cancel_button{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include media(mobile){
          padding-top: 1.5rem;
        }
        
        button{
          border: none;
          outline: none;
          background-color: transparent;
          cursor: pointer;

          svg{
            font-size: 1.5rem;
            
            path{
              fill: #fff;
              
            }
          }

        }

      }
      
      
      .contactUs_inputs {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        // gap: 1rem;
        .inputs_container {
          width: 100%;
          display: flex;
          gap: 2rem;
          align-items: center;
          @include media(mobile) {
            flex-wrap: wrap;
            gap: 0;
          }
          .inputs {
            width: 100%;
          }
        }
        small {
          padding: 0;
          margin: 0;
          display: block;
        }
      }
      .select_wrapper {
        width: 100%;
        margin-bottom: 1.5rem;
      }
      .danger {
        color: $textdanger;
      }
    }
  }
}
